* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  position: relative;
}
.header__logo img {
  width: 75px;
  height: 60px;
}
.header__burger {
  width: 30px;
  height: 28px;
  background-color: transparent;
  display: flex;
}
.header__burger-link {
  width: 27px;
  height: 2px;
  background: #080F4D;
  position: relative;
  z-index: 16;
  transition: all 1s;
}
.header__burger-link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 27px;
  height: 2px;
  background: #080F4D;
  opacity: 1;
  transition: all 1s;
}
.header__burger-link::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 27px;
  height: 2px;
  background: #080F4D;
  transition: all 1s;
}

.header__burger-link.active {
  transition: all 1s;
  transform: rotate(45deg);
  margin-top: 10px;
}
.header__burger-link.active::before {
  transition: all 1s;
  transform: rotate(-90deg);
  top: 0;
}
.header__burger-link.active::after {
  transition: all 1s;
  top: 0;
  background-color: #000000;
  transform: rotate(0deg);
}

.header__button {
  display: none;
  background: linear-gradient(94.73deg, #60B7FF 0%, #E255F3 100%);
  border-radius: 40px;
}
.header__button a {
  display: block;
  padding: 12px 24px;
  color: inherit;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}
.header__button:hover {
  background: linear-gradient(94.73deg, #60B7FF 0%, #60B7FF 100%);
}
.header__soucety {
  display: none;
  gap: 20px;
}
.header__mail-block {
  display: none;
}

.mail-img {
  padding-right: 14px;
}

.mail {
  padding-right: 30px;
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #080F4D;
}

.mail:nth-last-child(1) {
  padding-right: 0;
}

.header__nav {
  display: none;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #080F4D;
  padding-bottom: 3px;
}
.header__item-link:hover {
  color: #1111FF;
  border-bottom: 2px solid #1111FF;
}

.header__nav-button {
  display: flex;
  align-items: center;
}

.header__burger-modal {
  z-index: 15;
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  background: rgba(27, 27, 27, 0.2);
  display: flex;
  justify-content: end;
  height: 100vh;
  transition: all 1s;
  opacity: 1;
}
.header__burger-modal-block {
  width: 70%;
  background-color: #fff;
  padding-left: 20px;
}
.header__burger-modal-item {
  padding-top: 60px;
}
.header__item-burg {
  padding-bottom: 23px;
}
.header__item-link-burg {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #080F4D;
  padding-bottom: 3px;
}
.header__item-link-burg:hover {
  color: #1111FF;
  border-bottom: 2px solid #1111FF;
}
.header__soucety-burg {
  display: flex;
  gap: 20px;
  padding: 26px 0;
}
.header__link-soucety-burg svg:hover {
  opacity: 0.7;
}
.header__button-burg {
  max-width: 156px;
  background: linear-gradient(94.73deg, #60B7FF 0%, #E255F3 100%);
  border-radius: 40px;
  margin-top: 16px;
}
.header__button-burg:hover {
  background: linear-gradient(94.73deg, #60B7FF 0%, #60B7FF 100%);
}
.header__link-bot-burg {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  padding: 12px 24px;
}

.mail-burg {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #080F4D;
  padding-bottom: 10px;
}

.start__head {
  padding-top: 68px;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #1a1b24;
}
.start__text {
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #1a1b24;
}

.strat__register {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  background: linear-gradient(94.73deg, #60b7ff 0%, #e255f3 100%);
  box-shadow: 0px 20px 40px rgba(226, 85, 243, 0.3);
  border-radius: 40px;
  padding: 18px 73px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.strat__register:hover {
  background: linear-gradient(94.73deg, #60b7ff 0%, #60b7ff 100%);
}

.main__asic {
  padding-top: 61px;
}

.asic__slider-block {
  padding: 0 20px;
  position: relative;
}
.asic__slider-container {
  overflow: hidden;
  position: relative;
}
.asic__slider-item {
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin-top: 14px;
  width: 100%;
  perspective: 1000px;
  transition: 1s;
}
.asic__slider-item.flip {
  transition: 1s;
}
.asic__slider-item.flip .asic__slider-item-back {
  transform: rotateY(360deg);
  opacity: 1;
}
.asic__slider-item.flip .asic__slider-item-cont {
  transform: rotateY(180deg);
}
.asic__slider-item-cont {
  transition: 1s;
  top: 0;
  left: 0;
  text-align: center;
  background: #ffffff;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 26px 13px 31px 13px;
  width: 100%;
}
.asic__slider-item-back {
  transition: 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background: #1111ff;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(180deg);
  padding: 37px 20px;
}
.asic__head {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  padding: 6px 6px;
  background: #1111ff;
  border-radius: 20px;
  z-index: 2;
}
.asic__img-info {
  padding: 35px 60px;
}
.asic__interest-text {
  padding-top: 10px;
  font-weight: 600;
  font-size: 34px;
  line-height: 140%;
  color: #1111ff;
}
.asic__text-head {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #080f4d;
}
.asic__text-content {
  padding-top: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: #1a1b24;
}
.asic__text-content-back {
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.asic__attach-block {
  padding-top: 50px;
}
.asic__attach-list {
  display: grid;
  row-gap: 20px;
}
.asic__attach-item {
  background: linear-gradient(180deg, #f6f9fd 0%, #ffffff 100%);
  border-radius: 30px;
  display: flex;
  padding: 16px;
}

.attach__arrow {
  background: #1111ff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2px;
  margin-right: 10px;
}
.attach__head {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #080f4d;
}
.attach__content {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #1a1b24;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  margin: 0;
}

.asic__next img {
  background: #1111ff;
  padding: 14px 17px;
  border-radius: 50%;
  transform: rotate(180deg);
}

.asic__prev img {
  background: #1111ff;
  padding: 14px 17px;
  border-radius: 50%;
}

.company__block {
  background: url(../img/background-company1.svg) no-repeat, url(../img/background-company2.svg) no-repeat;
  background-position: 75% 132%;
  margin: 0 -10px;
  padding: 0 10px;
  position: relative;
}
.company__head {
  padding-top: 26px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.company__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  color: #ffffff;
}
.company__list {
  padding-bottom: 162px;
}
.company__trade {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.company__img {
  padding: 8px;
  background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
  border-radius: 50%;
  margin-right: 14px;
}
.company__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  color: #ffffff;
}
.company__text span {
  font-weight: 600;
}

#trade {
  padding: 11px 8px;
}

.company__block-img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}
.company__img-phone {
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 80px;
  position: relative;
  z-index: 2;
}
.company__img-bitcoin {
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 1;
}
.company__img-ligthcoin {
  position: absolute;
  bottom: 61px;
  left: 0;
}
.company__img-ether {
  position: absolute;
  bottom: -25px;
  right: -10px;
}

.company__sphere-1,
.company__sphere-2 {
  display: none;
}

.advantage__head {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #1b1b22;
  padding-bottom: 10px;
}

.advantage__grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.advantage__img-cont {
  width: 60px;
  height: 60px;
  background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.advantage__item-head {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #1b1b22;
  padding-top: 20px;
}
.advantage__text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #1b1b22;
}

.work__block {
  padding-top: 60px;
}
.work__head {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #1b1b22;
}
.work__subhead {
  padding-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #1b1b22;
}
.work__list {
  padding-top: 14px;
}
.work__item {
  display: flex;
  align-items: center;
  padding-top: 34px;
}
.work__number {
  padding-right: 17px;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  background: linear-gradient(94.73deg, #60b7ff 0%, #e255f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.work__text-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #1b1b22;
}
.work__link {
  color: #1111ff;
}
.work__img-block {
  text-align: center;
}
.work__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.design__head {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #1b1b22;
  padding-top: 40px;
}
.design__head span {
  color: #e255f3;
}
.design__list {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 60px;
}
.design__item {
  position: relative;
  top: 0;
  padding: 0 16px;
  padding-top: 40px;
  padding-bottom: 22px;
  background: linear-gradient(180deg, #f6f9fd 0%, #ffffff 100%);
  border-radius: 30px;
}
.design__number {
  position: absolute;
  top: -20px;
  left: 16px;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #6989fe 0%, #3c64f4 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design__number span {
  font-size: 20px;
  color: #fff;
}
.design__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #1b1b22;
}

.work__partners-block {
  padding: 40px 20px 0 20px;
  background: linear-gradient(180deg, #6989fe 0%, #3c64f4 100%);
  mix-blend-mode: normal;
  border-radius: 40px;
}

.partners__content {
  padding-bottom: 40px;
}
.partners__head {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.partners__subhead {
  padding-top: 10px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}
.partners__button {
  padding: 12px 24px;
  background: linear-gradient(94.73deg, #F9FAFF 0%, #FFFFFF 100%);
  border-radius: 40px;
  color: #1111ff;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}
.partners__img-block {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
.partners__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
}
.partners__one {
  position: absolute;
  bottom: 46px;
  left: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 50%;
}
.partners__one span {
  font-weight: 600;
  font-size: 16px;
  color: #1111ff;
}
.partners__three {
  position: absolute;
  top: 0;
  left: 20px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 50%;
}
.partners__three span {
  font-weight: 600;
  font-size: 22px;
  color: #1111ff;
}
.partners__seven {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 50%;
}
.partners__seven span {
  font-weight: 600;
  font-size: 26px;
  color: #1111ff;
}

.profit__head {
  padding-top: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}
.profit__trade-block {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profit__trade {
  background: linear-gradient(180deg, #FAFCFF 0%, #ffffff 100%);
  border-radius: 40px;
  padding: 30px 15px 38px 15px;
}
.profit__trade-head {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.profit__trade-head svg {
  color: #1111FF;
}
.profit__trade-head-text {
  padding-left: 10px;
}
.profit__trade-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
.profit__trade-text span {
  font-weight: 600;
}
.profit__about-img {
  padding-top: 60px;
}
.profit__about-head {
  padding-top: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #1a1b24;
}
.about__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.about__text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
.about__text span {
  font-weight: 600;
}

.faq__block {
  padding-top: 70px;
}
.faq__head {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #1c1c1c;
}
.faq__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #C8DAEA;
  padding: 16px 0;
  transition: all 0.5s;
}
.faq__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #1b1b22;
  position: relative;
}
.faq__plus-block {
  background: #ffffff;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.faq__plus {
  position: relative;
  top: 0;
  width: 10px;
  height: 2px;
  background: #080f4d;
  transition: all 0.5s;
}
.faq__plus::before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: 0;
  background: #080f4d;
  transform: rotate(90deg);
}

.span {
  position: relative;
  font-weight: 400;
  opacity: 0;
  height: 0;
  overflow: hidden;
  overflow-y: hidden;
  transition: all 0.5s;
}

.hiddens {
  position: relative;
  padding-top: 10px;
  height: 30px;
  opacity: 1;
  transition: all 0.5s;
}

.rotate {
  transform: rotate(45deg);
}

.faq__company-block {
  padding-top: 70px;
}
.faq__logo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.faq__logo-item {
  width: 140px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 30px;
}
.faq__logo-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__block {
  padding-top: 95px;
  padding-bottom: 70px;
  position: relative;
}
.footer__nav {
  padding-top: 60px;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__soucety {
  display: flex;
  gap: 20px;
  padding-top: 40px;
}
.footer__mail-block {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__item {
  padding-top: 20px;
}
.footer__item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #1B1B22;
}
.footer__item-link:hover {
  border-bottom: 2px solid #2B66FF;
}
/*--------------------*/
body {
  font-family: Montserrat;
  color: colortext;
  min-width: 320px;
  overflow-x: hidden;
  padding: 0 10px;
  background: #f5f5f5;
  position: relative;
}

.main__anim {
  max-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: 0 auto;
}

.toggle {
  right: -120%;
  transition: all 1s;
  opacity: 0;
}

@media (min-width: 768px) {
  body {
    padding: 0 30px;
  }
  .header__soucety {
    display: flex;
  }
  .header__button {
    display: block;
  }
  .header__logo img {
    width: 100px;
    height: 80px;
  }
}
@media (min-width: 1440px) {
  .header__group-soucety {
    display: flex;
    align-items: center;
    position: absolute;
    top: 21px;
    right: 0;
    gap: 92px;
  }
  .header__mail-block {
    display: flex;
    align-items: center;
  }
  .header__nav {
    display: block;
  }
  .header__logo img {
    width: 150px;
    height: 120px;
  }
  .container {
    max-width: 1224px;
    margin: 0 auto;
  }
  .header__burger {
    display: none;
  }
  .header__button,
  .header__nav {
    margin-top: 35px;
  }
  .header__button {
    margin-left: 50px;
  }
}
@media (min-width: 768px) {
  .start__head {
    padding-top: 58px;
    font-size: 32px;
  }
  .start__text {
    padding-bottom: 48px;
    font-size: 16px;
  }
  .strat__register {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .start__head {
    padding-top: 41px;
    font-size: 44px;
  }
  .start__text {
    padding-bottom: 40px;
    font-size: 16px;
  }
  .strat__register {
    font-size: 16px;
  }
  .main__start {
    max-width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .asic__text-content {
    font-size: 16px;
  }
  .asic__attach-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .main__anim {
    max-height: 1000px;
  }
  .asic__img-info {
    padding: 0;
  }
  .asic__slider-item-back {
    padding: 0 20px;
  }
  .asic__head {
    width: 54%;
  }
}
@media (min-width: 1440px) {
  .asic__attach-list {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 22px;
         column-gap: 22px;
    row-gap: 30px;
  }
  .asic__head {
    transform: translate(0, 0);
    left: auto;
    right: 5%;
    width: auto;
  }
  .asic__slider-item-back {
    padding: 31px 20px;
  }
}
@media (min-width: 768px) {
  .company__block {
    margin: 0 -30px;
    padding: 0 30px;
    background-size: cover;
    background-position: 55% 132%;
  }
}
@media (min-width: 1440px) {
  .company__block {
    margin: 0 -30px;
    padding: 0 0;
    padding-top: 297px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 55% -10%;
  }
  .company__img-phone {
    padding-top: 0;
    width: 50%;
  }
  .company__block-img {
    min-width: 500px;
    top: -132px;
  }
  .company__img-bitcoin {
    -o-object-fit: cover;
       object-fit: cover;
    top: -15px;
    left: 75px;
  }
  .company__sphere-1 {
    display: block;
    position: absolute;
    top: 0%;
    right: -7%;
    border-radius: 50%;
    width: 258px;
    height: 258px;
    background: linear-gradient(112.72deg, #18c8ff 11.44%, #933ffe 60.27%);
    box-shadow: inset 0px 20.0205px 20.0205px rgba(194, 255, 255, 0.25), inset -5.00511px -5.00511px 20.0205px #6d2cc1, inset -35.0358px -50.0511px 100.102px rgba(172, 60, 225, 0.76);
  }
  .company__sphere-2 {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    width: 159px;
    height: 159px;
    background: linear-gradient(112.72deg, #18c8ff 11.44%, #933ffe 60.27%);
    box-shadow: inset 0px 20.0205px 20.0205px rgba(194, 255, 255, 0.25), inset -5.00511px -5.00511px 20.0205px #6d2cc1, inset -35.0358px -50.0511px 100.102px rgba(172, 60, 225, 0.76);
  }
}
@media (min-width: 768px) {
  .advantage__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 33px;
         column-gap: 33px;
  }
  .advantage__head {
    padding-top: 50px;
    font-size: 34px;
  }
  .advantage__grid-item {
    padding-top: 50px;
  }
  .advantage__item-head {
    font-size: 18px;
  }
  .advantage__text {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .advantage__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 33px;
         column-gap: 33px;
  }
  .advantage__head {
    padding-top: 100px;
    font-size: 34px;
  }
  .advantage__grid-item {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .work__block {
    padding-top: 70px;
  }
  .work__head {
    font-size: 34px;
  }
  .work__subhead {
    padding-top: 10px;
    font-size: 16px;
  }
  .work__number {
    font-size: 40px;
  }
  .work__text-item {
    font-size: 16px;
  }
  .work__item {
    padding-top: 50px;
    width: 50%;
  }
  .work__number {
    padding-right: 30px;
  }
  .work__img-block {
    padding-top: 50px;
  }
  .work__img {
    width: 80%;
  }
  .design__head {
    font-size: 30px;
    width: 505px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .design__list {
    flex-direction: row;
  }
  .design__text {
    font-size: 15px;
  }
  .design__item {
    padding-top: 46px;
    padding-bottom: 33px;
  }
  .design__number span {
    font-size: 24px;
  }
  .design__number {
    width: 52px;
    height: 52px;
  }
  .work__partners-block {
    padding: 60px 30px 0 30px;
  }
  .partners__head {
    font-size: 30px;
  }
  .partners__subhead {
    font-size: 16px;
    padding-top: 16px;
  }
  .partners__button {
    font-size: 16px;
  }
  .partners__one {
    width: 60px;
    height: 60px;
    left: 53px;
  }
  .partners__three {
    width: 72px;
    height: 72px;
    left: 110px;
    top: 65px;
  }
  .partners__seven {
    width: 80px;
    height: 80px;
    right: 87px;
  }
  .partners__img-block {
    padding-bottom: 60px;
    padding-top: 36px;
  }
  .partners__img {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .work__block-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .work__img {
    width: 110%;
  }
  .work__item {
    width: 70%;
  }
  .design__head {
    width: 100%;
  }
  .design__list {
    padding-top: 81px;
  }
  .work__partners-block {
    display: flex;
    justify-content: space-between;
    padding: 90px 100px 0 60px;
  }
  .partners__content {
    width: 50%;
  }
  .partners__img {
    width: 110%;
  }
  .partners__three {
    left: -25%;
  }
  .partners__one {
    left: -40%;
    bottom: 35%;
  }
  .partners__seven {
    right: 0%;
    bottom: 20%;
  }
}
@media (min-width: 768px) {
  .profit__head {
    font-size: 34px;
    padding-top: 70px;
  }
  .profit__trade-head-text {
    font-size: 18px;
  }
  .profit__trade-text {
    font-size: 16px;
  }
  .profit__about-img {
    padding-top: 70px;
    text-align: center;
  }
  .about__img {
    width: 70%;
  }
  .profit__about-head {
    font-size: 30px;
    padding-top: 40px;
  }
  .about__text {
    padding-top: 20px;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .profit__trade-block {
    flex-direction: row;
  }
  .profit__about {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profit__about-img {
    text-align: left;
    width: 50%;
  }
  .profit__about-content {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .faq__head {
    padding-top: 100px;
    font-size: 30px;
  }
  .faq__text {
    font-size: 16px;
  }
  .faq__item {
    padding: 30px 0;
  }
  .faq__logo-grid {
    gap: 22px;
  }
  .faq__logo-item {
    width: 182px;
    height: 108px;
  }
}
@media (min-width: 1440px) {
  .faq__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 22px;
         column-gap: 22px;
  }
  .faq__head {
    padding-top: 120px;
    font-size: 34px;
  }
  .faq__company-block {
    padding-top: 120px;
  }
}
@media (min-width: 768px) {
  .footer__button {
    position: absolute;
    left: 0;
    bottom: 60px;
  }
  .strat__register {
    padding: 18px 28px;
  }
  .footer__list {
    grid-template-columns: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
  }
  .footer__group-soucety {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .footer__mail-block {
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .footer__group-soucety {
    flex-direction: row;
    justify-content: end;
    gap: 30px;
  }
  .header__item-link {
    font-size: 16px;
  }
}