* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
}
@import "_header.scss";
@import "_start-page.scss";
@import "_2-asic.scss";
@import "_3-company-activity.scss";
@import "_4-advantage.scss";
@import "_5start-work.scss";
@import "_6-profit.scss";
@import "_7-about-company.scss";
@import "_8-FAQ.scss";
@import "_footer.scss";
/*--------------------*/
$colortext: #1a1b24;

body {
  font-family: Montserrat;
  color: colortext;
  min-width: 320px;
  overflow-x: hidden;
  padding: 0 10px;
  background: #f5f5f5;

  position: relative;
}
.container {
}

.main__anim {
  max-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: 0 auto;
}

.toggle {
  right: -120%;
  transition: all 1s;
  opacity: 0;
}
// адаптив для шапки
@media (min-width: 768px) {
  body {
    padding: 0 30px;
  }
  .header__soucety {
    display: flex;
  }
  .header__button {
    display: block;
  }
  .header__logo img {
    width: 100px;
    height: 80px;
  }
}
@media (min-width: 1440px) {
  .header__group-soucety {
    display: flex;
    align-items: center;
    position: absolute;
    top: 21px;
    right: 0;
    gap: 92px;
  }
  .header__mail-block {
    display: flex;
    align-items: center;
  }
  .header__nav {
    display: block;
  }
  .header__logo img {
    width: 150px;
    height: 120px;
  }
  .container {
    max-width: 1224px;
    margin: 0 auto;
  }
  .header__burger {
    display: none;
  }
  .header__button,
  .header__nav {
    margin-top: 35px;
  }
  .header__button {
    margin-left: 50px;
  }
}
// адаптив для start-page
@media (min-width: 768px) {
  .start {
    &__head {
      padding-top: 58px;
      font-size: 32px;
    }
    &__text {
      padding-bottom: 48px;
      font-size: 16px;
    }
  }
  .strat__register {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .start {
    &__head {
      padding-top: 41px;
      font-size: 44px;
    }
    &__text {
      padding-bottom: 40px;
      font-size: 16px;
    }
  }
  .strat__register {
    font-size: 16px;
  }
  .main__start {
    max-width: 60%;
    margin: 0 auto;
  }
}
// адаптив для asic
@media (min-width: 768px) {
  .asic__text-content {
    font-size: 16px;
  }
  .asic__attach-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 30px;
  }
  .main__anim {
    max-height: 1000px;
  }
  .asic__slider-item{
    height: 415px;
  }
  .asic__img-info{
    padding: 0;
  }
  .asic__slider-item-back{
    padding: 0 20px;
  }
  .asic__head{
    width: 54%;
  }
}
@media (min-width: 1440px) {
  .asic__attach-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 22px;
    row-gap: 30px;
  }
  .asic__head {
    transform: translate(0, 0);
    left: auto;
    right: 5%;
    width: auto;
  }
  .asic__slider-item{
    height: 500px;
  }
  .asic__slider-item-back{
    padding: 31px 20px;
  }
}
//  для company-activity
@media (min-width: 768px) {
  .company__block {
    margin: 0 -30px;
    padding: 0 30px;
    background-size: cover;
    background-position: 55% 132%;
  }
}
@media (min-width: 1440px) {

  .company__block {
    
    margin: 0 -30px;
    padding: 0 0;
    padding-top: 297px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 55% -10%;
  }
  .company__img-phone {
    padding-top: 0;
    width: 50%;
  }
  .company__block-img {
    min-width: 500px;
    top: -132px;
  }
  .company__img-bitcoin {
    object-fit: cover;
    top: -15px;
    left: 75px;
  }
  .company__sphere-1 {
    display: block;
    position: absolute;
    top: 0%;
    right: -7%;
    border-radius: 50%;
    width: 258px;
    height: 258px;
    background: linear-gradient(112.72deg, #18c8ff 11.44%, #933ffe 60.27%);
    box-shadow: inset 0px 20.0205px 20.0205px rgba(194, 255, 255, 0.25),
      inset -5.00511px -5.00511px 20.0205px #6d2cc1,
      inset -35.0358px -50.0511px 100.102px rgba(172, 60, 225, 0.76);
  }
  .company__sphere-2 {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    width: 159px;
    height: 159px;
    background: linear-gradient(112.72deg, #18c8ff 11.44%, #933ffe 60.27%);
    box-shadow: inset 0px 20.0205px 20.0205px rgba(194, 255, 255, 0.25),
      inset -5.00511px -5.00511px 20.0205px #6d2cc1,
      inset -35.0358px -50.0511px 100.102px rgba(172, 60, 225, 0.76);
  }
}
// для advantage
@media (min-width: 768px){
    .advantage__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 33px;
    }
    .advantage__head{
        padding-top: 50px;
        font-size: 34px;
    }
    .advantage__grid-item{
        padding-top: 50px;
    }
    .advantage__item-head{
        font-size: 18px;
    }
    .advantage__text{
        font-size: 16px;
    }
}
@media (min-width: 1440px){
    .advantage__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 33px;
    }
    .advantage__head{
        padding-top: 100px;
        font-size: 34px;
    }
    .advantage__grid-item{
        padding-top: 30px;
    }
}
// для work
@media (min-width: 768px){
    .work__block{
        padding-top: 70px;
    }
    .work__head{
        font-size: 34px;
    }
    .work__subhead{
        padding-top: 10px;
        font-size: 16px;
    }
    .work__number{
        font-size: 40px;
    }
    .work__text-item{
        font-size: 16px;
    }
    .work__item{
        padding-top: 50px;
        width: 50%;
    }
    .work__number{
        padding-right: 30px;
    }
    .work__img-block{
        padding-top: 50px;
    }
    .work__img{
        width: 80%;
    }
    .design__head{
        font-size: 30px;
        width: 505px;
        margin: 0 auto;
        padding-top: 50px;
    }
    .design__list{
        flex-direction: row;
    }
    .design__text{
        font-size: 15px;
    }
    .design__item{
        padding-top: 46px;
        padding-bottom: 33px;
    }
    .design__number span{
        font-size: 24px;
    }
    .design__number{
        width: 52px;
        height: 52px;
    }
    .work__partners-block{
        padding: 60px 30px 0 30px;
    }
    .partners__head{
        font-size: 30px;
    }
    .partners__subhead{
        font-size: 16px;
        padding-top: 16px;
    }
    .partners__button{
        font-size: 16px;
    }
    .partners__one{
        width: 60px;
        height: 60px;
        left: 53px;
        
    }
    .partners__three{
        width: 72px;
        height: 72px;
        left: 110px;
        top: 65px;
    }
    .partners__seven{
        width: 80px;
        height: 80px;
        right: 87px;
    }
    .partners__img-block{
        padding-bottom: 60px;
        padding-top: 36px;
    }
    .partners__img{
        width: 50%;
    }
}
@media (min-width: 1440px){
    .work__block-start{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .work__img{
        width: 110%;
    }
    .work__item{
        width: 70%;
    }
    .design__head{
        width: 100%;
    }
    .design__list{
        padding-top: 81px;
    }
    .work__partners-block{
        display: flex;
        justify-content: space-between;
        padding: 90px 100px 0 60px;
    }
    .partners__content{
        width: 50%;
    }
    .partners__img-block{
        
    }
    .partners__img{
        width: 110%;
        
    }
    .partners__three{
        left: -25%;
    }
    .partners__one{
        left: -40%;
        bottom: 35%;
    }
    .partners__seven{
        right: 0%;
        bottom: 20%;
    }
}
// для profit
@media (min-width: 768px){
  .profit__head{
    font-size: 34px;
    padding-top: 70px;
  }
  .profit__trade-head-text{
    font-size: 18px;
  }
  .profit__trade-text{
    font-size: 16px;
  }
  .profit__about-img{
    padding-top: 70px;
    text-align: center;
  }
  .about__img{
    
    width: 70%;
  }
  .profit__about-head{
    font-size: 30px;
    padding-top: 40px;
  }
  .about__text{
    padding-top: 20px;
    font-size: 16px;
  }
}
@media (min-width: 1440px){
  .profit__trade-block{
    flex-direction: row;
  }
  .profit__about{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profit__about-img{
    text-align: left;
    width: 50%;
  }
  .profit__about-content{
    width: 50%;
  }
}
// для faq
@media (min-width: 768px){
  .faq__head{
    padding-top: 100px;
    font-size: 30px;
  }
  .faq__text{
    font-size: 16px;
  }
  .faq__item{
    padding: 30px 0;
  }
  .faq__logo-grid{
    gap: 22px;
  }
  .faq__logo-item{
    width: 182px;
    height: 108px;
  }

}
@media (min-width: 1440px){
  .faq__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 22px;
  }
  .faq__head{
    padding-top: 120px;
    font-size: 34px;
  }
  .faq__company-block{
    padding-top: 120px;
  }
}
// для footer
@media (min-width: 768px){
  .footer__button{
    position: absolute;
    left: 0;
    bottom: 60px;
  }
  .strat__register{
    padding: 18px 28px;
  }
  .footer__list{
    grid-template-columns: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
  }
  .footer__group-soucety{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .footer__mail-block{
    flex-direction: row;
  }
}
@media (min-width: 1440px){
  .footer__group-soucety{
    flex-direction: row;
    justify-content: end;
    gap: 30px;
  }
  .header__item-link{
    font-size: 16px;
  }
}